<p style="color: green"><%= notice %></p>

<h1>Recicla tus productos de bebé</h1>
<%= image_tag ("foto.jpg") %>
<%= image_tag ("bebe1.jpg") %>
    <%= image_tag ("bebe2.jpg") %>
    <%= image_tag ("bebe3.jpg") %>
   
<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
